<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwx.blogback.dao.BlogConfigMapper">

    <select id="getInfo" resultType="com.zwx.blogback.model.BlogConfig">
        select * from blog_config limit 1
    </select>
</mapper>
